mainmenu "Spaghetti Processing tests"

rsource "../../Kconfig.resources"

config SPAGHETTI_BLOCK_REGISTRY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_PROCESSING_LOG_LEVEL
	int
	default 0

config SPAGHETTI_SCHEMA_LOG_LEVEL
	int
	default 0

source "Kconfig.zephyr"
