mainmenu "Spaghetti V1 extension proof tests"

rsource "../../Kconfig.resources"

config SPAGHETTI_POWER
	bool
	default y

config SPAGHETTI_POWER_FAKE_BACKEND
	bool
	default y

config SPAGHETTI_POWER_LOG_LEVEL
	int
	default 0

config SPAGHETTI_TOPOLOGY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_DRIVER_REGISTRY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_RULE_REGISTRY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_BLOCK_REGISTRY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_DEVICE_PROFILE_LOG_LEVEL
	int
	default 0

config SPAGHETTI_SCHEMA_LOG_LEVEL
	int
	default 0

config SPAGHETTI_CONFIG_LOG_LEVEL
	int
	default 0

config SPAGHETTI_MODULE_MANAGER_LOG_LEVEL
	int
	default 0

config SPAGHETTI_DATA_LOG_LEVEL
	int
	default 0

config SPAGHETTI_RECORD_DELIVERY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_PROCESSING_LOG_LEVEL
	int
	default 0

config SPAGHETTI_DISCOVERY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_DISCOVERY_MAX_RESULTS
	int
	default 8

config SPAGHETTI_DECLARATIVE_DEVICE_MAX_INSTANCES
	int
	range 1 SPAGHETTI_MAX_MODULES
	default 4

config SPAGHETTI_DECLARATIVE_DEVICE_LOG_LEVEL
	int
	default 0

config SPAGHETTI_RUNTIME_STOP_TIMEOUT_MS
	int
	default 1000

config SPAGHETTI_MQTT_STOP_TIMEOUT_MS
	int
	default 2000

config SPAGHETTI_CONFIG_MIN_WRITE_INTERVAL_MS
	int
	default 0

config ZCBOR
	bool
	default y

source "Kconfig.zephyr"
