mainmenu "Spaghetti Driver Registry tests"

rsource "../../Kconfig.resources"

config SPAGHETTI_DRIVER_REGISTRY_LOG_LEVEL
	int
	default 0

config SPAGHETTI_SCHEMA_LOG_LEVEL
	int
	default 0

source "Kconfig.zephyr"
